# Pull Request {{ pr_number }}
This PR is automatically created for:
| Source Branch | Target Branch | Creator |
|---------------|---------------|---------|
| {{ branch_name }} | {{ dest_branch }} | @{{ actor }} |

## Summary
{{ summary }}

## Motivation and Context
{{ motivation_context }}

{% if issue_links %}
## Issue Links
{% for link in issue_links %}
- {{ link }}
{%- endfor %}
{%- endif %}
## Types of Changes
{%- if types.build %}
### Build System (build: 🛠️)
***Changes that affect the build system or external dependencies***
{% for change in types.build %}
- {{ change }}
{%- endfor %}
{%- endif %}
{%- if types.chore %}
### Chore (chore: 🔧)
***Other changes that don't modify src or test files***
{% for change in types.chore %}
- {{ change }}
{%- endfor %}
{%- endif %}
{%- if types.ci %}
### Continuous Integration (ci: ⚙️)
***Changes to CI configuration files and scripts***
{% for change in types.ci %}
- {{ change }}
{%- endfor %}
{%- endif %}
{%- if types.docs %}
### Documentation (docs: 📝)
***Documentation changes***
{% for change in types.docs %}
- {{ change }}
{%- endfor %}
{%- endif %}
{%- if types.feat %}
### New Features (feat: ✨)
***New features & improvements to functionality***
{% for change in types.feat %}
- {{ change }}
{%- endfor %}
{%- endif %}
{%- if types.fix %}
### Bug Fixes (fix: 🐛)
***Changes that fix bugs and errors in code***
{% for change in types.fix %}
- {{ change }}
{%- endfor %}
{%- endif %}
{%- if types.perf %}
### Performance Improvements (perf: 🚀)
***Code changes that improve performance***
{% for change in types.perf %}
- {{ change }}
{%- endfor %}
{%- endif %}
{%- if types.refactor %}
### Code Refactoring (refactor: ♻️)
***Code changes that neither fix bugs nor add features***
{% for change in types.refactor %}
- {{ change }}
{%- endfor %}
{%- endif %}
{%- if types.revert %}
### Reverts (revert: ⏪)
***Reverts a previous commit***
{% for change in types.revert %}
- {{ change }}
{%- endfor %}
{%- endif %}
{%- if types.style %}
### Styles (style: 💄)
***Changes that do not affect the meaning of the code (white-space, formatting, missing semi-colons, etc)***
{% for change in types.style %}
- {{ change }}
{%- endfor %}
{%- endif %}
{%- if types.test %}
### Tests (test: 🚨)
***Adding missing or correcting existing tests***
{% for change in types.test %}
- {{ change }}
{%- endfor %}
{%- endif %}
{%- if types.other %}
### Other Changes
***Changes that don't fit into the above categories***
{% for change in types.other %}
- {{ change }}
{%- endfor %}
{%- endif %}
